
<article>
<%= form_with url: session_path do |form| %>

<%# ... %>
<div>
<%= form.label :email_address, style: "display: block" %>
<%= form.text_field :email_address, placeholder: "your.email@example.com", autocomplete: "off"%>
<br>
<%= form.label :password, style: "display: block" %>
<%= form.text_field :password, placeholder: "password", autocomplete: "off" %>


<%#
=begin
<%= form.label :name, style: "display: block" tukaj procent>
<%= form.text_field :name, placeholder: "your.name", autocomplete: "off" tukaj procent>
=end 
%>



</div>

<div>
<%= form.submit %>
</div>
<% end %>
</article>