<h1>Urejanje izvidov, dobavitelji: <%=current_user.name%></h1>


<%= link_to "Razlaga/navodilo", home_razlaga_path(locale), class: "button button2 text-sm" %>

<%= link_to "Dobavitelji", suppliers_path, class: "button button2 text-sm" %>

<%= link_to "Porocila", reports_supplier_report_path(locale), class: "button button2 text-sm" %>


<%= button_to "Izpis/Sign Out", session_path,class: "button button1 text-sm", method: :delete if authenticated? %>
<%#= current_user.name %>