<%= form_with(model: [@supplier, @paper]) do |f| %>
  <% if @paper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@paper.errors.count, "error") %> prohibited this paper from being saved:</h2>
      <ul>
        <% @paper.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<table class="table2">
  <caption>Dokument</caption>
  <thead>
    <th><%= f.label :artikel %></th>
    <th><%= f.label :leto %></th>
    <th><%= f.label :skupina%></th>
  </thead>
  <tbody>
    <td><%= f.text_field :article %></td>
    <td><%= f.number_field :year, value: f.object.year || Time.current.year %></td>
    <td><%= f.text_field :group %></td>
  </tbody>
</table>
  
<article>
  <div>
    <%= f.label :labtest %><br>
    <%= f.check_box :labtest %>
    
  </div>

  <div>
    <%= f.label :certificate %><br>
    <%= f.check_box :certificate %>
    
   
  </div>
 
  <div >
    <%= f.label :location_labtest %><br>
    <%= f.text_field :location_labtest %>
  </div>

  <div>
    <%= f.label :location_certificate%><br>
    <%= f.text_field :location_certificate %>
  </div>

  <div>
    <%= f.label :opomba %><br>
    <%= f.text_area :comment %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
</article>
<% end %>
