<p style="color: green"><%= notice %></p>

<% content_for :title, "Dokumenti" %>

<h1>Dokumenti za <%= @supplier.name %></h1>

<div style="margin: 1em 0;">
  <%= link_to "Nazaj k dobavitelju", supplier_path(@supplier), class: "button" %>
  <%= link_to "Nov dokument", new_supplier_paper_path(@supplier), class: "button" %>

</div>

<% if @papers.any? %>
  <table>
    <thead>
      <tr>
        <th>Leto</th>
        <th>Created at</th>
        <th>Artikel</th>
        <th>Lab test</th>
        <th>Lab lokacija</th>
        <th>Certificat</th>
        <th>Certificat lokacija</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <%= render @papers %>
      <!-- This automatically renders: papers/_paper.html.erb -->
    </tbody>
  </table>
<% else %>
  <p>Ni dokumentov</p>
<% end %>
