<p style="color: green"><%=notice %></p>

<% content_for :title, "Documents" %>

<h1>Document for <%= @supplier.name %></h1>

<div style="margin: 1em 0;">
..<%= link_to "Back to supplier", supplier_path(@supplier), class: "button" %>
  <%= link_to "New document", new_supplier_paper_path(@supplier), class: "button" %>

</div>

<% if @papers.any? %>
  <table>
    <thead>
      <tr>
        <th>Year</th>
        <th>Created at</th>
        <th>Article</th>
        <th>Lab test</th>
        <th>Lab location</th>
        <th>Certificate</th>
        <th>Certificate location</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <%= render @papers %>
      <!-- This automatically renders: papers/_paper.html.erb -->
    </tbody>
  </table>
<% else %>
  <p>No documents</p>
<% end %>
