 <div id="<%= dom_id supplier %>">
  
   
 

<table>
<caption>Dobavitelji</caption>
  <thead>
  <th><strong>Ime:</strong></th>
  <th><strong>Opis:</strong></th>
  <th><strong>Email:</strong></th>
  <th><strong>Uporabnik:</strong></th>
  
  </thead>

<tbody>
  <td><%= supplier.name %></td>
  <td><%= supplier.description %></td>
  <td><%= supplier.email %></td>
  <td><%= supplier.user_id %></td>
  
</tbody>

</table>
